#diez_de_diamantes,
#sota_de_diamantes,
#reina_de_diamantes,
#rey_de_diamantes,
#as_de_diamantes {
    position: absolute;
}

#diez_de_diamantes {
    top: 80px;
    left: 80px;
    z-index: 50;
}

#sota_de_diamantes {
    top: 95px;
    left: 95px;
    z-index: 40;
}

#reina_de_diamantes {
    top: 110px;
    left: 110px;
    z-index: 30;
}

#rey_de_diamantes {
    top: 125px;
    left: 125px;
    z-index: 20;
}

#as_de_diamantes {
    top: 140px;
    left: 140px;
    z-index: 10;
}