/*Variables*/
:root {
    --azul-1: #0D1B2A;
    --azul-2: #1B263B;
    --azul-3: #415A77;
    --azul-4: #778DA9;
    --beige-1: #E0E1DD;
    --beige-2: #c3c3c1;
    --titulos-1: 4.5em;
    --titulos-2: 1.75em;
    --subtitulo-1: 3em;
    --texto-1: 1.25em;
}

/*Informacion inicio*/
#info-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/lagocisnes-inicio.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info-texto{
    width: 70%;
    max-width: 1000px;
}

#info-texto h2{
    color: var(--azul-4);
    font-size: var(--titulos-1);
    font-weight: bold;
}

#info-inicio p{
    color: white;
    font-size: var(--titulos-2);
    line-height: 1.5;
    font-style: italic;
}

#btn-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--azul-4);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
}

#btn-1:hover {
    background-color: var(--azul-3);
    transform: scale(1.05);
}

#info-quienes .container-1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: var(--azul-2);
    height: 550px;
}

#info-quienes .texto{
    width: 45%;
    max-width: 600px;
    text-align: justify;
    color: var(--beige-1);
    line-height: 1.5;
    font-size: var(--texto-1);
}

#info-quienes .texto h2{
    font-size: var(--subtitulo-1);
    color: var(--azul-4);
    font-weight: bold;
}

#info-quienes .img-container{
    background-image: url("../img/teatro-5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

#btn-3{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--azul-4);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin-top: 30px;
    font-weight: bold;
    padding: 5px;
}

#btn-3:hover{
    background-color: var(--azul-3);
    transform: scale(1.05);
}

#btn-2, #btn-4 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--beige-1);
    color: black;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}

#btn-2:hover, #btn-4 {
    background-color: var(--beige-2);
    transform: scale(1.05);
}

#btn-4{
    padding: 5px;
}

/*Informacion quienes somos*/
#info-cartelera .container-1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: var(--beige-1);
    height: 600px;
}

#info-cartelera .texto{
    width: 45%;
    max-width: 600px;
    text-align: justify;
    color: var(--azul-2);
    line-height: 1.5;
    font-size: var(--texto-1);
}

#info-cartelera .texto h2{
    font-size: var(--subtitulo-1);
    color: var(--azul-2);
    font-weight: bold;
    text-align: right;
    text-align: left;
}

#info-cartelera .img-container{
    background-image: url("../img/cartelera.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

/*------------------------------------------------------------*/
@media screen and (max-width: 480px) {
    #info-inicio p {
        padding: 20px;
        font-size: 16px;
    }

    #info-inicio h2{
        font-size: 1.5em;
    }

    #info-cartelera .container-1,
    #info-quienes .container-1 {
        height: auto;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    #btn-1, #btn-2, #btn-3, #btn-4{
        width: 100%;
    }

    #info-cartelera .texto,
    #info-quienes .texto {
        width: 100%;
        padding: 5px;
    }

    #info-cartelera .img-container,
    #info-quienes .img-container {
        width: 90%;
        height: 500px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #info-inicio p {
        padding: 20px;
        font-size: 18px;
    }

    #info-inicio h2{
        font-size: 3.5em;
    }

    #info-cartelera .container-1,
    #info-quienes .container-1{
        height: auto;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    #info-cartelera .img-container,
    #info-quienes .img-container {
        width: 100%;
        height: 400px;
    }

    #btn-1, #btn-2, #btn-3, #btn-4 {
        width: 80%; /* Botones más anchos en pantallas medianas */
    }
}